<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="com.altran.rental.ui.command.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="initial"
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.altran.rental.ui.command.customerSelected">
         <instanceof
               value="com.opcoach.training.rental.Customer">
         </instanceof>
      </definition>
   </extension>

</plugin>
